# Adds libfaketime to Polymesh image. Allows for old snapshots to be live.

FROM polymathnet/polymesh:{{VERSION}}-debian
USER root
RUN apt-get update && apt-get install -y git make gcc
# RUN apt-get update && apt-get install -y libfaketime
RUN git clone https://github.com/wolfcw/libfaketime.git
WORKDIR /libfaketime
RUN make install
USER 4001:4001
ENV LD_PRELOAD=/usr/local/lib/faketime/libfaketime.so.1
